@import "../dashboard/styles.module.scss";

.settings {
  @include container();
  main {
    width: 100%;
    background-color: var(--light);
    padding: 1rem;
    border-radius: 0.5rem;
    overflow: auto;
  }
}
