.layout {
  display: flex;
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media (max-width: 630px) {
  .layout {
    .content {
      position: absolute;
      top: 3.5rem;
      left: 3.25rem;
    }
  }
}
