.sidebar {
  position: relative;
  background-color: bisque;
  width: 16rem;
  height: 100vh;
  .head {
    a {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      gap: 0.25rem;
      span {
        font-size: 1.25rem;
        font-weight: 600;
      }
    }
  }
  .foot {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
