.tooltip {
  --bgColor: #333;
  color: white;
  font-size: 14px;
  position: fixed;
  background-color: var(--bgColor);
  padding: 8px;
  border-radius: 4px;
  pointer-events: none;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.15);
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.tooltip[data-show="true"] {
  opacity: 1;
  visibility: visible;
}

.tooltip::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-style: solid;
}

.tooltip[data-hide-arrow="true"]::after {
  display: none;
}

.tooltip[data-placement^="top"]::after {
  border-width: 5px 5px 0 5px;
  border-color: var(--bgColor) transparent transparent transparent;
  bottom: -5px;
}

.tooltip[data-placement="top"]::after {
  left: 50%;
  transform: translateX(-50%);
}

.tooltip[data-placement^="bottom"]::after {
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent var(--bgColor) transparent;
  top: -5px;
}

.tooltip[data-placement="bottom"]::after {
  left: 50%;
  transform: translateX(-50%);
}

.tooltip[data-placement="left"]::after {
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent var(--bgColor);
  top: 50%;
  right: -5px;
  transform: translateY(-50%);
}

.tooltip[data-placement="right"]::after {
  border-width: 5px 5px 5px 0;
  border-color: transparent var(--bgColor) transparent transparent;
  top: 50%;
  left: -5px;
  transform: translateY(-50%);
}

.tooltip[data-placement="bottom-left"]::after,
.tooltip[data-placement="top-left"]::after {
  right: 18px;
}

.tooltip[data-placement="bottom-right"]::after,
.tooltip[data-placement="top-right"]::after {
  left: 18px;
}
